In [1]:
import pandas as pd
data = pd.read_csv('data.csv')
stat = data.describe()
stat.loc['range'] = stat.loc['max']-stat.loc['min']
stat.loc['dis'] = stat.loc['75%']-stat.loc['25%']
stat.loc['var'] = stat.loc['std']/stat.loc['mean']
stat.loc['mad'] = data.mad()
stat.loc['skew'] = data.skew()
stat.loc['kurt'] = data.kurt()
stat

C:\Users\j8843\AppData\Local\Temp/ipykernel_16948/1800565467.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stat.loc['skew'] = data.skew()
C:\Users\j8843\AppData\Local\Temp/ipykernel_16948/1800565467.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  stat.loc['kurt'] = data.kurt()

,lrad,prec,pres,shum,srad,temp,wind
count,5832.000000,5832.000000,5832.000000,5832.000000,5832.000000,5832.000000,5832.000000
mean,269.509474,0.008949,85519.502743,0.002993,192.962834,281.441822,4.040625
std,64.774634,0.085995,610.557534,0.002663,267.761536,13.806527,2.357598
min,132.250000,0.000000,83722.000000,0.000015,0.000000,245.629990,0.051998
25%,216.250000,0.000000,85049.500000,0.001129,0.000000,270.360000,2.285995
50%,265.500000,0.000000,85518.000000,0.001971,3.000000,282.754990,3.529999
75%,321.062500,0.000000,85972.000000,0.004012,352.562500,292.582500,5.258496
max,449.500000,2.692501,86820.000000,0.015863,989.500000,311.250000,16.230000
range,317.250000,2.692501,3098.000000,0.015848,989.500000,65.620010,16.178002
dis,104.812500,0.000000,922.500000,0.002883,352.562500,22.222500,2.972501
var,0.240343,9.609496,0.007139,0.889654,1.387633,0.049056,0.583474
mad,54.694986,0.016437,508.073047,0.002045,223.512922,11.758743,1.844962
skew,0.180500,19.269338,0.002976,1.563321,1.211468,-0.237797,1.115041
kurt,-0.873252,443.377569,-0.722968,2.034095,0.202964,-0.892140,1.404610

In [2]:
from scipy import stats
for item in ['lrad', 'prec', 'pres', 'shum', 'srad', 'temp']:
    print(stats.spearmanr(data[[item]].to_numpy().ravel(), data[['wind']].to_numpy().ravel()))

SpearmanrResult(correlation=0.032350777005597936, pvalue=0.013486168347444174)
SpearmanrResult(correlation=0.00787600133073642, pvalue=0.5476061053614518)
SpearmanrResult(correlation=0.07469086091232147, pvalue=1.1250462841430117e-08)
SpearmanrResult(correlation=-0.08556207603752566, pvalue=5.958774799092212e-11)
SpearmanrResult(correlation=0.246264995629444, pvalue=2.650405346230128e-81)
SpearmanrResult(correlation=0.05671501296224254, pvalue=1.4659365394277926e-05)

In [3]:
imf_dic={'lrad':2, 'pres':2, 'shum':2, 'srad':2, 'temp':2, 'wind':2}
data_decomposed = pd.DataFrame()
data_decomposed['ds'] = data['ds']
for feature in imf_dic.keys():
    data_iceemdan = pd.read_csv(feature+'.csv')
    temp = pd.DataFrame({feature:[0.0 for _ in range(len(data_iceemdan))]})
    for index in data_iceemdan.columns:
        if index.startswith('IMF') and imf_dic[feature] < int(index.lstrip('IMF')):
            temp[feature] += data_iceemdan[index]
    data_decomposed=data_decomposed.join(temp)

In [4]:
data_decomposed.to_csv('data_decomposed.csv')
data_decomposed

,ds,lrad,pres,shum,srad,temp,wind
0,2017-01-01 00:00:00,190.75,85882.0,0.001984,2.500000e-01,264.02000,2.353996
1,2017-01-01 03:00:00,202.00,85900.0,0.001950,2.395000e+02,267.93000,3.061997
2,2017-01-01 06:00:00,212.75,85744.0,0.001490,3.965000e+02,272.99000,2.177998
3,2017-01-01 09:00:00,210.50,85788.0,0.001369,1.257500e+02,272.07000,1.043999
4,2017-01-01 12:00:00,195.50,85844.0,0.001393,-2.842171e-14,266.99000,1.125996
...,...,...,...,...,...,...,...
5827,2018-12-30 09:00:00,188.25,86186.0,0.000772,1.110000e+02,263.54000,1.511997
5828,2018-12-30 12:00:00,175.75,86318.0,0.001097,0.000000e+00,258.19998,2.233997
5829,2018-12-30 15:00:00,160.00,86372.0,0.000084,0.000000e+00,256.15000,2.757996
5830,2018-12-30 18:00:00,165.25,86420.0,0.000890,2.842171e-14,254.78000,1.921997
5831,2018-12-30 21:00:00,156.50,86450.0,0.000428,0.000000e+00,252.84000,1.683998